.card-container-home {
    opacity: 0.8;
    /* margin: 5px; */
    max-height: 50%;
    background-color: rgb(212, 237, 100) !important;
}

.home-card-body{
    /* overflow-y: auto; */
    max-height: 200px;
    background-color: white;
}

.home-title-container{
    
}

.home-title{
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}